<nav>
    <ol>
        <a href="http://localhost:3000/">Index</a>
    </ol>
    <ol>
        <a href="http://localhost:3000/idade">Idade</a>
    </ol>
    <ol>
        <a href="http://localhost:3000/media">Média</a>
    </ol>
    <ol>
        <a href="http://localhost:3000/perfil">Perfil</a>
    </ol>
</nav>