<!-- HTML DO INDEX -->
<%- include("partials/header") %>

<h1>
    Instruções para o uso dessa API:
</h1>

<h2>
    Na rota /idade/:age, defina :age para receber uma mensagem personalizada baseada na sua idade. [EX1]
    <br>
    Na rota /media/, você poderá calcular a média final, com base em três notas [EX2]
    <br>
    Na rota /perfil/, é possível criar, e editar um perfil 'temporário' [EX3]
</h2>