<!-- HTML DO EXERCÍCIO 3 -->
<%- include("partials/header") %>

<div>
    <form action="/perfil" method="post">
        <div>
            <input type="text" name="firstName" placeholder="Primeiro nome">
        </div>
        <div>
            <input type="text" name="lastName" placeholder="Sobrenome">
        </div>
        <div>
            <input type="number" name="age" placeholder="Idade">
        </div>
        <div>
            <input type="text" name="country" placeholder="País">
        </div>
        <div>
            <input type="submit" value="Criar perfil">
        </div>
    </form>
</div>